@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "proxima";
  src: url(./assets/fonts/Fontspring-DEMO-proximanova-semibold.otf);
}
@font-face {
  font-family: "lulo";
  src: url(./assets/fonts/Lulo\ Clean\ One\ Bold.otf);
}
